{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {"removeImport": true}]
      ]
    }
  }
}
